<%-include("header")-%>
<div class="container">
    <form action="/register" method="get">
        <button>Register</button>
    </form>

    <form action="/login" method="get">
        <button>Login</button>
    </form>
</div>

<%-include("footer")-%>