<%-include("header")-%>
<div class="container">
    <form action="/doLogin" method="post">
        <label for="email">Email:</label>
        <input type="email" name="emailAddress">

        <label for="password">Password:</label>
        <input type="password" name="password">
        <button>Login</button>
    </form>
</div>
<%-include("footer")-%>